DE/data-pipelines/deployment/adf/pipeline-training-data-ingestion/pipeline-training-data-ingestion.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"data_ingested_ls":{"type":"string"},"metadata_postgres_ls":{"type":"string"},"data_awaits_ingestion_ls":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline-training-data-ingestion')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"copyToBronze","type":"Copy","dependsOn":[{"activity":"storeSourceChecksum","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.00:10:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":"PreserveHierarchy"}},"enableStaging":false,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"linkedServiceName":{"referenceName":"[parameters('data_ingested_ls')]","type":"LinkedServiceReference"},"path":"copiedbloblogs"}}},"inputs":[{"referenceName":"sourceBlobFile_ds","type":"DatasetReference","parameters":{"bank_id":{"value":"@pipeline().parameters.data_source_id","type":"Expression"},"upload_id":{"value":"@pipeline().parameters.training_upload_id","type":"Expression"},"file_format":{"value":"@pipeline().parameters.file_format","type":"Expression"},"raw_file_path":{"value":"@pipeline().parameters.raw_file_path","type":"Expression"},"file_name":{"value":"@split(pipeline().parameters.raw_file_path, '/')[1]","type":"Expression"}}}],"outputs":[{"referenceName":"BronzeDataLakeFile_ds","type":"DatasetReference","parameters":{"bank_id":{"value":"@activity('lookupMetadata').output.firstRow.data_source_id","type":"Expression"},"upload_id":{"value":"@pipeline().parameters.training_upload_id","type":"Expression"},"file_format":{"value":"@activity('lookupMetadata').output.firstRow.file_format","type":"Expression"},"raw_file_path":{"value":"@pipeline().parameters.raw_file_path","type":"Expression"}}}]},{"name":"GetBronzeFileSize","type":"GetMetadata","dependsOn":[{"activity":"storeBronzeChecksum","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"BronzeDataLakeFile_ds","type":"DatasetReference","parameters":{"bank_id":{"value":"@activity('lookupMetadata').output.firstRow.data_source_id","type":"Expression"},"upload_id":{"value":"@pipeline().parameters.training_upload_id","type":"Expression"},"file_format":{"value":"@activity('lookupMetadata').output.firstRow.file_format","type":"Expression"},"raw_file_path":{"value":"@pipeline().parameters.raw_file_path","type":"Expression"}}},"fieldList":["size"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"verifyFileSize","type":"IfCondition","dependsOn":[{"activity":"GetBronzeFileSize","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@and(equals(activity('GetBronzeFileSize').output.size, activity('lookupMetadata').output.firstRow.file_size_bytes), equals(variables('sourceChecksum'), variables('bronzeCheckSum')))","type":"Expression"},"ifFalseActivities":[{"name":"Fail1","type":"Fail","dependsOn":[],"userProperties":[],"typeProperties":{"message":{"value":"@concat('Could not verify file size for file: ', activity('lookupMetadata').output.firstRow.file_name, '. File details:- BronzeFile: ', string(activity('GetBronzeFileSize').output.size), ' bytes, Lookup File: ', string(activity('lookupMetadata').output.firstRow.file_size_bytes), ' bytes')","type":"Expression"},"errorCode":"500"}},{"name":"setBronzeBlobPathOnFailure","type":"SetVariable","dependsOn":[{"activity":"updateMetadataOnFailure","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"bronzeBlobPath","value":{"value":"@concat('bronze/training/', activity('lookupMetadata').output.firstRow.data_source_id, '/', formatDateTime(utcNow(), 'yyyy-MM-dd'), '/', split(pipeline().parameters.raw_file_path, '/')[1])","type":"Expression"}}},{"name":"setVerificationErrorMessage","type":"SetVariable","dependsOn":[{"activity":"setBronzeBlobPathOnFailure","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"verificationErrorMessage","value":{"value":"@concat('File size verification failed. Expected: ', string(activity('lookupMetadata').output.firstRow.file_size_bytes), '. Actual: ', string(activity('GetBronzeFileSize').output.size), ' bytes.')","type":"Expression"}}},{"name":"setInsertBronzeLogSQLOnFailure","type":"SetVariable","dependsOn":[{"activity":"setVerificationErrorMessage","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"insertBronzeLogSQL","value":{"value":"@concat('INSERT INTO bronze_ingestion_log (training_upload_id, run_id, source_blob_path, source_checksum_sha256, source_file_size_bytes, bronze_blob_path, bronze_checksum_sha256, bronze_file_size_bytes, ingestion_status, error_message, ingested_at, created_at, updated_at) VALUES (', '''', pipeline().parameters.training_upload_id, '''', ', ', '''', pipeline().parameters.run_id, '''', ', ', '''', activity('lookupMetadata').output.firstRow.raw_file_path, '''', ', ', '''', variables('sourceChecksum'), '''', ', ', string(activity('lookupMetadata').output.firstRow.file_size_bytes), ', ', '''', variables('bronzeBlobPath'), '''', ', ', '''', variables('bronzeCheckSum'), '''', ', ', string(activity('GetBronzeFileSize').output.size), ', ''verification_failed'', ', '''', variables('verificationErrorMessage'), '''', ', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);')","type":"Expression"}}},{"name":"insertBronzeIngestionLogOnFailure","type":"Script","dependsOn":[{"activity":"setInsertBronzeLogSQLOnFailure","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('metadata_postgres_ls')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"NonQuery","text":{"value":"@{variables('insertBronzeLogSQL')}","type":"Expression"}}],"scriptBlockExecutionTimeout":"00:10:00"}},{"name":"publishVerficationFailure","type":"WebActivity","dependsOn":[{"activity":"insertBronzeIngestionLogOnFailure","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"POST","headers":{},"url":{"value":"@concat('https://', pipeline().parameters.serviceBusNamespace, '.servicebus.windows.net/', pipeline().parameters.dataIngestedTopic, '/messages?', pipeline().globalParameters.serviceBusAPIVersion)","type":"Expression"},"body":{"value":"{\n       \"training_upload_id\": \"@{pipeline().parameters.training_upload_id}\",\n       \"bank_id\": \"@{activity('lookupMetadata').output.firstRow.data_source_id}\",\n       \"status\": \"verification_failed\",\n       \"expected_size_bytes\": \"@{activity('lookupMetadata').output.firstRow.file_size_bytes}\",\n       \"actual_size_bytes\": \"@{activity('GetBronzeFileSize').output.size}\",\n       \"source_blob_path\": \"@{activity('lookupMetadata').output.firstRow.raw_file_path}\",\n       \"bronze_blob_path\": \"@{concat('bronze/training/', activity('lookupMetadata').output.firstRow.data_source_id, '/', formatDateTime(utcNow(), 'yyyy-MM-dd'), '/', split(pipeline().parameters.raw_file_path, '/')[1])}\",\n       \"file_format\": \"@{activity('lookupMetadata').output.firstRow.file_format}\",\n       \"record_count\": \"@{activity('lookupMetadata').output.firstRow.record_count}\",\n       \"timestamp\": \"@{utcNow()}\",\n       \"error_message\": \"File size verification failed - file may be corrupted during copy\"\n     }","type":"Expression"},"authentication":{"type":"MSI","resource":"https://servicebus.azure.net/"}}},{"name":"updateMetadataOnFailure","type":"Script","dependsOn":[{"activity":"Fail1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('metadata_postgres_ls')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"NonQuery","text":{"value":"UPDATE training_uploads\nSET \n   status = 'error',\n   error_message = @{concat('File size verification failed. Expected: ', activity('lookupMetadata').output.firstRow.file_size_bytes, '. Actual: ', string(activity('GetBronzeFileSize').output.size), ' bytes.')},\n   updated_at = CURRENT_TIMESTAMP\nWHERE id = '@{pipeline().parameters.training_upload_id}'","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}}],"ifTrueActivities":[{"name":"storeFileSize","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"fileSize","value":{"value":"@activity('GetBronzeFileSize').output.size","type":"Expression"}}}]}},{"name":"updateBronzeMetadata","description":"Update upload_metadata table with bronze layer information","type":"Script","dependsOn":[{"activity":"verifyFileSize","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('metadata_postgres_ls')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"NonQuery","text":{"value":"UPDATE training_uploads\n     SET \n         status = 'ingested',\n         updated_at = CURRENT_TIMESTAMP\n     WHERE id = '@{pipeline().parameters.training_upload_id}'","type":"Expression"}}],"scriptBlockExecutionTimeout":"00:10:00"}},{"name":"setBronzeBlobPath","type":"SetVariable","dependsOn":[{"activity":"updateBronzeMetadata","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"bronzeBlobPath","value":{"value":"@concat('bronze/training/', activity('lookupMetadata').output.firstRow.data_source_id, '/', formatDateTime(utcNow(), 'yyyy-MM-dd'), '/', split(pipeline().parameters.raw_file_path, '/')[1])","type":"Expression"}}},{"name":"setInsertBronzeLogSQL","type":"SetVariable","dependsOn":[{"activity":"setBronzeBlobPath","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"insertBronzeLogSQL","value":{"value":"@concat('INSERT INTO bronze_ingestion_log (training_upload_id, run_id, source_blob_path, source_checksum_sha256, source_file_size_bytes, bronze_blob_path, bronze_checksum_sha256, bronze_file_size_bytes, ingestion_status, error_message, ingested_at, created_at, updated_at) VALUES (', '''', pipeline().parameters.training_upload_id, '''', ', ', '''', pipeline().parameters.run_id, '''', ', ', '''', activity('lookupMetadata').output.firstRow.raw_file_path, '''', ', ', '''', variables('sourceChecksum'), '''', ', ', string(activity('lookupMetadata').output.firstRow.file_size_bytes), ', ', '''', variables('bronzeBlobPath'), '''', ', ', '''', variables('bronzeCheckSum'), '''', ', ', string(activity('GetBronzeFileSize').output.size), ', ''success'', NULL, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);')","type":"Expression"}}},{"name":"insertBronzeIngestionLog","type":"Script","dependsOn":[{"activity":"setInsertBronzeLogSQL","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('metadata_postgres_ls')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"NonQuery","text":{"value":"@{variables('insertBronzeLogSQL')}","type":"Expression"}}],"scriptBlockExecutionTimeout":"00:10:00"}},{"name":"publishSuccessMessage","type":"WebActivity","dependsOn":[{"activity":"insertBronzeIngestionLog","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"POST","headers":{"Content-Type":"application/json","BrokerProperties":{"value":"{\"Label\": \"data-ingested\", \"SessionId\": \"sessn-@{pipeline().parameters.training_upload_id}\", \"subscription\": \"start-transformation\"}","type":"Expression"},"Subscription":"start-transformation"},"url":{"value":"@concat('https://', pipeline().parameters.serviceBusNamespace, '.servicebus.windows.net/', pipeline().parameters.dataIngestedTopic, '/messages?', pipeline().globalParameters.serviceBusAPIVersion)","type":"Expression"},"body":{"value":"{\n       \"training_upload_id\": \"@{pipeline().parameters.training_upload_id}\",\n       \"bank_id\": \"@{activity('lookupMetadata').output.firstRow.data_source_id}\",\n       \"bronze_blob_path\": \"@{concat('bronze/training/', activity('lookupMetadata').output.firstRow.data_source_id, '/', formatDateTime(utcNow(), 'yyyy-MM-dd'), '/', split(pipeline().parameters.raw_file_path, '/')[1])}\",\n       \"run_id\": \"@{pipeline().parameters.run_id}\"\n     }","type":"Expression"},"authentication":{"type":"MSI","resource":"https://servicebus.azure.net/"}}},{"name":"lookupMetadata","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzurePostgreSqlSource","query":{"value":"@concat('SELECT id, data_source_id, status, file_name, file_format, file_size_bytes, raw_file_path, file_metadata, record_count FROM training_uploads WHERE id = ''', pipeline().parameters.training_upload_id, ''' AND status = ''ingesting''')","type":"Expression"},"partitionOption":"None","queryTimeout":"00:10:00"},"dataset":{"referenceName":"postgresqlUploadMetadata_ds","type":"DatasetReference","parameters":{}}}},{"name":"getSourceFileChecksum","type":"WebActivity","dependsOn":[{"activity":"lookupMetadata","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"GET","headers":{},"url":{"value":"@concat(pipeline().parameters.fileChecksumCalculatorBaseUrl, '/api/calculate_checksum?code=', pipeline().parameters.fileChecksumCalculatorKey, '&blob_url=https://', pipeline().globalParameters.blobStorageAccount, '.blob.core.windows.net/data/', pipeline().parameters.raw_file_path)","type":"Expression"}}},{"name":"storeSourceChecksum","type":"SetVariable","dependsOn":[{"activity":"getSourceFileChecksum","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"sourceChecksum","value":{"value":"@activity('getSourceFileChecksum').output.checksum","type":"Expression"}}},{"name":"getBronzeFileChecksum","type":"WebActivity","dependsOn":[{"activity":"copyToBronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"GET","headers":{},"url":{"value":"@concat(pipeline().parameters.fileChecksumCalculatorBaseUrl, '/api/calculate_checksum?code=', pipeline().parameters.fileChecksumCalculatorKey, '&blob_url=https://', pipeline().globalParameters.dataLakeStorageAccount, '.blob.core.windows.net/bronze/training/', activity('lookupMetadata').output.firstRow.data_source_id, '/', formatDateTime(utcNow(), 'yyyy-MM-dd'), '/', split(pipeline().parameters.raw_file_path, '/')[1])","type":"Expression"}}},{"name":"storeBronzeChecksum","type":"SetVariable","dependsOn":[{"activity":"getBronzeFileChecksum","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"bronzeCheckSum","value":{"value":"@activity('getBronzeFileChecksum').output.checksum","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{"duration":"0.00:20:00"}},"parameters":{"training_upload_id":{"type":"String","defaultValue":"70257f35-edcf-4c1c-a129-4d5ded8ceaa5"},"data_source_id":{"type":"String","defaultValue":"b4ed5120-65f4-46c5-b687-dc895a1d6bbf"},"file_format":{"type":"String","defaultValue":"json"},"file_size_bytes":{"type":"Int","defaultValue":10552},"raw_file_path":{"type":"String","defaultValue":"b4ed5120-65f4-46c5-b687-dc895a1d6bbf/test_ingestion_20260316_073604.json"},"serviceBusNamespace":{"type":"String","defaultValue":"blache-cdtscr-dev-sb-y27jgavel2x32"},"fileChecksumCalculatorBaseUrl":{"type":"String","defaultValue":"https://blache-cdtscr-dev-checksum-y27jgavel2x32.azurewebsites.net"},"fileChecksumCalculatorKey":{"type":"String","defaultValue":"2RjfXpwX8juNKkRMkdpFJbNgv07YSLjUFdQ58tOR5T3vAzFu_MKY2w=="},"run_id":{"type":"String","defaultValue":"a8a6fc79-2f2c-4223-985c-eea3fb075c4f"},"dataAwaitsIngestionTopic":{"type":"String","defaultValue":"data-awaits-ingestion"},"dataIngestedTopic":{"type":"string","defaultValue":"data-ingested"}},"variables":{"fileSize":{"type":"Integer"},"serviceBusNamespace":{"type":"String"},"lookupQuery":{"type":"String"},"fileSizeInt":{"type":"Integer"},"kvSecrets":{"type":"String"},"sourceChecksum":{"type":"String"},"bronzeCheckSum":{"type":"String"},"bronzeBlobPath":{"type":"String"},"verificationErrorMessage":{"type":"String"},"insertBronzeLogSQL":{"type":"String"},"test":{"type":"String"}},"annotations":[],"lastPublishTime":"2026-03-19T04:31:40Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/sourceBlobFile_ds')]","[concat(variables('factoryId'), '/datasets/BronzeDataLakeFile_ds')]","[concat(variables('factoryId'), '/datasets/postgresqlUploadMetadata_ds')]"]},{"name":"[concat(parameters('factoryName'), '/sourceBlobFile_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('data_awaits_ingestion_ls')]","type":"LinkedServiceReference"},"parameters":{"bank_id":{"type":"string"},"upload_id":{"type":"string"},"file_format":{"type":"string"},"raw_file_path":{"type":"string"},"file_name":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@dataset().file_name","type":"Expression"},"folderPath":{"value":"@dataset().bank_id","type":"Expression"},"container":"data"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/BronzeDataLakeFile_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('data_ingested_ls')]","type":"LinkedServiceReference"},"parameters":{"bank_id":{"type":"string"},"upload_id":{"type":"string"},"file_format":{"type":"string"},"raw_file_path":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@split(dataset().raw_file_path, '/')[1]","type":"Expression"},"folderPath":{"value":"@concat('training/',dataset().bank_id, '/', formatDateTime(utcNow(), 'yyyy-MM-dd'))","type":"Expression"},"fileSystem":"bronze"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/postgresqlUploadMetadata_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('metadata_postgres_ls')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzurePostgreSqlTable","schema":[{"name":"id","type":"character varying","precision":0,"scale":0},{"name":"bank_id","type":"character varying","precision":0,"scale":0},{"name":"file_name","type":"character varying","precision":0,"scale":0},{"name":"file_size","type":"bigint","precision":0,"scale":0},{"name":"file_format","type":"character varying","precision":0,"scale":0},{"name":"upload_id","type":"character varying","precision":0,"scale":0},{"name":"blob_path","type":"character varying","precision":0,"scale":0},{"name":"blob_url","type":"character varying","precision":0,"scale":0},{"name":"row_count","type":"integer","precision":0,"scale":0},{"name":"column_count","type":"integer","precision":0,"scale":0},{"name":"status","type":"character varying","precision":0,"scale":0},{"name":"schema_version","type":"character varying","precision":0,"scale":0},{"name":"upload_timestamp","type":"timestamp without time zone","precision":0,"scale":0},{"name":"created_at","type":"timestamp without time zone","precision":0,"scale":0},{"name":"updated_at","type":"timestamp without time zone","precision":0,"scale":0},{"name":"created_by","type":"character varying","precision":0,"scale":0},{"name":"updated_by","type":"character varying","precision":0,"scale":0},{"name":"version","type":"integer","precision":0,"scale":0},{"name":"deleted_at","type":"timestamp without time zone","precision":0,"scale":0},{"name":"is_deleted","type":"character varying","precision":0,"scale":0},{"name":"file_metadata","type":"jsonb","precision":0,"scale":0},{"name":"schema_registry_id","type":"character varying","precision":0,"scale":0}],"typeProperties":{"schema":"public","table":"upload_metadata"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/default')]","type":"Microsoft.DataFactory/factories/managedVirtualNetworks","apiVersion":"2018-06-01","properties":{},"dependsOn":[]}]}